@using Medicare.Presentation.Models.Users
@model AuthenticatedViewModel;
@{
    Layout = "~/Views/Shared/AuthenticatedPartialView.cshtml";
    ViewData["Title"] = "Menú principal";
}

<div>
    Bienvenido, @Model.CurrentUser.Name
</div>