@using Medicare.Application.Services.Interfaces
@using Medicare.Presentation.Models.Doctors
@model CreateDoctorViewModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/AuthenticatedPartialView.cshtml";

}

<section class="flex flex-col gap-3">
    <div class="flex flex-col items-center min-h-screen bg-white">
        <div class="w-full flex justify-center mb-10">
            <a asp-controller="Doctor" asp-action="CreateNewDoctor" class="inline-flex items-center gap-x-2 bg-teal-400 hover:bg-teal-300 text-white py-1 px-3 sm rounded">
                <i class="fa-solid fa-plus"></i>
                <p>Nuevo doctor</p>
                <i class="fa-solid fa-user-doctor"></i>
            </a>  
        </div>
    </div>
</section>